/*
    Font
*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap');



/*
   General
*/
html,body {
    padding: unset;
    margin: unset;
    height: 100%;
    width: 100%;
    background: #011017;
}

#root {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 100%;
    height: auto;
    width: 100%;
    overflow: hidden;
}

/*
 * Scrollbar General
*/
::-webkit-scrollbar {
    display: initial;
    width: auto;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

