html,body {
    padding: unset;
    margin: unset;
    height: 100%;
    width: 100%;
}

#root {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 100%;
    grid-gap: 1em;
    height: auto;
    width: 100%;
    overflow: hidden;
}


/*
    Font
*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');