
/*
   Mobile Stanard
*/
@media screen and (max-width: 1000px) {
    
    ._container_form_login form {
        max-width: unset;
        width: 70%;
    }

    .nav-links {
        font-size: 15px;
    }

}