.btn {
  border: none;
  background: transparent;
  padding: 30px 30px;
  color: white;
  background-image: url("/assets/icon/profile.svg");
  background-repeat: no-repeat;
  background-size: 30px 30px; /* Ajusta el tamaño de la imagen según tus necesidades */
  background-position: center;
  border-radius: 5px;
  transition: 0.3s all ease-out;
  cursor: pointer;
}

.btn:hover {
  background: rgb(124, 2, 2)
}

