.container-gracias{
    background-color: #18272E;
    border-radius: 30px;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    width: 749px;
    height: 320px;
    margin-left: 17rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.boton3{
    padding: 1rem 2rem;
    background-color: #E43946;
    align-items: center;
    margin-bottom: 1rem;
    width: 150px;
    height: 40px;
    border-radius: 15px;
    text-align: center;
}

.boton3 a{
    color: white;
    font-size: 22px;
    font-family: 'Quicksand' , sans-serif;
    font-style: normal;
    font-weight: 800;
}

.container-gracias h6{
    color: white;
    font-size: 30px;
    font-family: 'Quicksand' , sans-serif;
    font-style:normal;
    font-weight: 800;
    margin-top: 1rem;
    margin-left: 2rem;
}

.container-gracias img{
    width: 50%;
}