

.container-filter {
    display: grid;
    place-content: flex-end;
    width: 100%;
    height: 4em;
    background: var(--color-bg-menu-item);
    overflow: hidden;
    margin: 2em 0 2em 0;
}

.container-filter 
.container-filter__title {
    display: flex;
    gap: 15px;
    width: -webkit-fill-available;
    margin-right: 1em;
    position: relative;
}

.container-filter 
.container-filter__title
h1 {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: var(--color-white);
}

.container-filter 
.container-filter__title
select {
    position: relative;
    border: 2px solid #6A232C !important;
    width: max-content;
    min-width: 150px;
    background: transparent;
    outline: none !important;
    color: var(--color-white);
    font-family: 'Quicksand' , sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    z-index: 5;
    text-transform: uppercase;
}


.container-filter 
.container-filter__title
div {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.container-filter 
.container-filter__title div img {
    position: absolute;
    right: 0;
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.5em;
    cursor: pointer;
    z-index: 2;
}

.container-filter 
.container-filter__title
select:focus,
.container-filter 
.container-filter__title
select:hover {
    color: var(--color-white);
    background: transparent;
    border: 2px solid #6A232C !important;
    outline: none !important;
}

.container-filter 
.container-filter__title
select option {
    background: #6A232C ;
    color: var(--color-white);
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border: 2px solid #6A232C !important;
    outline: none !important;
}


._container-card-spareparts {
    display: grid;
    grid-auto-rows: auto;
    place-items: center;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax( min(100%, 23em), 1fr));
    padding: 0 2em 0 2em;
    width: calc(100% - 4em);
    height: auto;
    margin: 2em 0 4em 0;
    overflow: hidden;
}

._container-card-spareparts  
div._card-spareparts {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: calc(90% - 2em);
   height: 27em;
   padding: 1em;
   background: var(--color-blue-page-primary);
   border-radius: 30px;
   overflow: hidden;
}

._container-card-spareparts  
div._card-spareparts
div._card-spareparts__img {
   display: flex;
   align-items: center;
   width: 90%;
   height: 50%;
   background: var(--color-bg-img-product);
   border-radius: 25px;
   overflow: hidden;
}


._container-card-spareparts  
div._card-spareparts
div._card-spareparts__img img {
    width: -webkit-fill-available;
    height: 80%;
    object-fit: scale-down;
}


._container-card-spareparts  
div._card-spareparts
h1 {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    color: var(--color-white);
    height: 10%;
}

._container-card-spareparts  
div._card-spareparts
p { 
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: var(--color-white);
    height: 5%;    
    text-align: center;
    padding-top: 0.5em;
}


._container_hr_vh
._actions a ,
._container-card-spareparts  
div._card-spareparts
a {
    display: grid;
    place-content: center;
    border-radius: 18px;
    width: 90%;
    height: 2.5em;
    font-family: var(--text-general-primary);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: var(--color-primary-background);
    text-align: center;
    background: var(--color-red-primary);
    cursor: pointer;
}

._container_herramientas {
    justify-self: center;
    max-width: 1200px;
    margin: 3em 0 4em 0;
    display: grid;
    place-items: center;
    width: 100%;
    height: 6em;
}

._sub_container_hrr { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    border-radius: 30px;
    padding: 2em;
    background: var(--color-blue-page-primary);
    overflow: hidden;
}

._sub_container_hrr
._card_herramientas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8em;
    height: 90%;
    background: var(--color-bg-menu-item);
    border-radius: 15px;
    padding: 1em;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
}

._card_herramientas__img {
    display: grid;
    place-items: center;
    width: 80%;
    height: 80%;
}

._card_herramientas__img img {
    width: -webkit-fill-available;
    height: 80%;
    object-fit: scale-down;
}

._sub_container_hrr
._card_herramientas h1 {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: var(--color-white);
}

._container_hr_vh {
    max-width: 1200px;
    justify-self: center;
    margin-top: 3em;
    display: grid;
    place-items: center;
    width: 100%;
    height: auto;
    min-height: 30em;
    overflow: hidden;
    user-select: none;
}

._container_hr_vh 
._container_vh_all {
    position: relative;
    display: grid;
    place-items: center;
    width: 95%;
    height: 100%;
}

._container_hr_vh 
._container_vh_all img {
    width: calc(-webkit-fill-available - 2em);
    height: 90%;
    object-fit: cover;
}

._absolute_conatiner_hr_all {
    width: 100%;
    height: 100%;
}

._absolute_conatiner_hr_all 
._container_hr_vh__item {
   display: grid;
   place-items: center;
   position: absolute;
   background: var(--color-white);
   width: 4em;
   height: 4em;
   border-radius: 100%;
   cursor: pointer;
}

._container_hr_vh
._actions {
    display: flex;
    justify-content: center;
    margin: 3.5em 0 3.5em 0;
    width: 30%;
}

._absolute_conatiner_hr_all 
._container_hr_vh__item img {
    width: 80%;
    height: 80%;
    object-fit: scale-down;
}

._absolute_conatiner_hr_all 
._container_hr_vh__item:first-child {
    top: 43%;
    left: 33%;
}

._absolute_conatiner_hr_all 
._container_hr_vh__item._vh__item_moto:first-child {
    top: 24%;
    left: unset;
    right: 37%;
}

._absolute_conatiner_hr_all 
._container_hr_vh__item:nth-child(2) {
    top: 40%;
    left: 13%;
}

._absolute_conatiner_hr_all 
._container_hr_vh__item._vh__item_moto:nth-child(2) {
    top: unset;
    left: unset;
    right: 45%;
    bottom: 20%;
}

._absolute_conatiner_hr_all 
._container_hr_vh__item:nth-child(3) {
    top: 30%;
    left: 20%;
}

._absolute_conatiner_hr_all 
._container_hr_vh__item._vh__item_moto:nth-child(3) {
    top: unset;
    left: 30%;
    bottom: 20%;
}

._absolute_conatiner_hr_all 
._container_hr_vh__item:nth-child(6) {
    top: 30%;
    left: 28%;
}

._absolute_conatiner_hr_all 
._container_hr_vh__item._vh__item_moto:nth-child(6) {
    top: 30%;
    left: 40%;
}


._absolute_conatiner_hr_all 
._container_hr_vh__item:nth-child(5) {
    bottom: 20%;
    left: 45%;
}

._absolute_conatiner_hr_all 
._container_hr_vh__item._vh__item_moto:nth-child(5) {
    bottom: 30%;
    left: 40%;
}

._absolute_conatiner_hr_all 
._container_hr_vh__item:nth-child(4) {
    bottom: 40%;
    right: 30%;
}

._absolute_conatiner_hr_all 
._container_hr_vh__item._vh__item_moto:nth-child(4) {
    bottom: 25%;
    right: 28%;
}

._active_btn {
    background: #740C18 !important;
}