

.container-filter {
    display: grid;
    place-content: flex-end;
    width: 100%;
    height: 4em;
    background: var(--color-bg-menu-item);
    overflow: hidden;
    margin: 2em 0 2em 0;
}

.container-filter 
.container-filter__title {
    display: flex;
    gap: 15px;
    width: -webkit-fill-available;
    margin-right: 1em;
    position: relative;
}

.container-filter 
.container-filter__title
h1 {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: var(--color-white);
}

.container-filter 
.container-filter__title
select {
    position: relative;
    border: 2px solid #6A232C !important;
    width: max-content;
    min-width: 150px;
    background: transparent;
    outline: none !important;
    color: var(--color-white);
    font-family: 'Quicksand' , sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    z-index: 5;
    text-transform: uppercase;
}


.container-filter 
.container-filter__title
div {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.container-filter 
.container-filter__title div img {
    position: absolute;
    right: 0;
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.5em;
    cursor: pointer;
    z-index: 2;
}

.container-filter 
.container-filter__title
select:focus,
.container-filter 
.container-filter__title
select:hover {
    color: var(--color-white);
    background: transparent;
    border: 2px solid #6A232C !important;
    outline: none !important;
}

.container-filter 
.container-filter__title
select option {
    background: #6A232C ;
    color: var(--color-white);
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border: 2px solid #6A232C !important;
    outline: none !important;
}
